.close{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.close:hover::before, .close:hover::after {
  background: blue;
}

.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #000;
}
.close::before {
  transform: rotate(45deg);
}
.close::after {
  transform: rotate(-45deg);
}

.close.thick::before, .close.thick::after {
  height: 4px;
  margin-top: -2px;
}

.close.black::before, .close.black::after {
  height: 8px;
  margin-top: -4px;
}
.close.rounded::before, .close.rounded::after {
  border-radius: 5px;
}
