* {
  box-sizing: border-box;
}

html {
  --base-color: #fff;
  --dark-color: #2a3443;
  --shade-color: #5e6673;
  --success-color: #f0f8f1;
  --warning-color: #fbeeec;
  --light-background: #f4f5f7;
  --spacing: 16px;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  margin: 0;
  padding: 0;
  color: var(--dark-color);
  line-height: 1.5rem;
}

[hidden] {
  display: none;
}

a {
  color: var(--dark-color);
}

a:visited,
a:active {
  color: var(--shade-color);
}

header,
main,
nav {
  padding: var(--spacing);
}

nav {
  height: 3em;
}

header {
  background: var(--dark-color);
  color: var(--base-color);
}

.text-center {
  text-align: center;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.controls-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  margin: 20px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.controls-card {
  width: 300px;
  margin-right: 15px;
  margin-left: 15px;
  /* box-shadow: 0 0 14px rgba(0,0,0,0.1); */
  background-color: rgba(0,0,0,0.04);
  border-radius: 7px;
  padding: 10px 20px;
}
textarea#logs {
  font-family: "Courier New", Courier, monospace;
  width: 255px;
  height: 149px;
  background: white;
}
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.component-wrapper {
  border: 0.5px dashed rgba(0,0,0,0.1);
}

:root {
  --pb-timeline-col: red;
}
